<div class="container">
  <div class="top-preview">
    <div class="row">{{ preView }}</div>
    <div class="row">{{ answer }}</div>
  </div>
  <div class="rows">
    <ng-container *ngFor="let buttonRow of buttonConfigs">
      <div class="row">
        <ng-container *ngFor="let button of buttonRow">
          <div class="row-item" (click)="onButtonClick(button.behavior)">
            {{ button.displayText }}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
