<div class="container">
  <div class="calculator">
    <div class="top-preview">
      <div class="align-end">
        <div class="text">{{ preView }}</div>
      </div>
      <div class="align-end">
        <div class="text">{{ answer }}</div>
      </div>
    </div>
    <div class="rows">
      <ng-container *ngFor="let buttonRow of buttonConfigs">
        <div class="row">
          <ng-container *ngFor="let button of buttonRow">
            <div
              class="row-item noselect"
              (click)="onButtonClick(button.behavior)"
            >
              {{ button.displayText }}
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
